.bkg-container {
     #bkg-image-carrito {
         background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/carrito-envios8005xx.jpg");
         background-position:top 20% left 5%;
         background-size: cover;
         .bkg-texto {
             flex-direction: column;
             h1{
                 color:white;
                 font-size: 2.5rem;
                 font-weight: bolder;
                 letter-spacing: 0.07rem;
                 line-height: 3rem;
             }
             p {
                 text-align: center;
                 color: rgb(235, 235, 235);
             }
         }
     }
 }
.main-carrito {
    position: relative;
    width: 100%;
    height: auto;
    background-color: rgb(36, 36, 36);
    z-index: 1;
    .container-carrito {
        width: 100%;
        height: 100%;
        position: relative;
        .textura-carrito {
            padding:1px;
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 10;
            top: 0%;
            left: 0%;
            background-image: url("../images/cubes.png");
            filter: invert(20%);
            -webkit-filter: invert(20%);
            -moz-filter: invert(20%);
            background-size:auto;
            background-position: center;
            background-attachment: fixed;
        }
        .izquierda-derecha {
            width: 100%;
            height: auto;
            position: relative;
            z-index: 10;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap-reverse;
            .izquierda-carrito{
                width: 500px;
                height: auto;
                margin-bottom: 50px;
                margin-left: auto;
                margin-right: auto;
                padding-bottom: 20px;
                overflow: hidden;
                position: relative;
                z-index:10;
                h2 {
                    margin: 40px auto;
                    text-align:center;
                    font-size: 20px;
                    color:white;
                }
                p {
                    margin: 10px auto;
                    text-align:center;
                    font-size: 17px;
                    color:white;
                    a {
                        color:white;
                        line-height: 30px;
                        background-color: rgb(43, 82, 255);
                    }
                }
                #formCarrito {
                    width: 400px;
                    height: 600px;
                    padding: 10px 20px;
                    margin: 100px 10px 0px 50px;
                    display: flex;
                    flex-direction: column;
                    align-items: stretch;
                    justify-content: space-between;
                    box-shadow: -1px -1px 20px 1px rgba(0,0,0,0.6);
                    -webkit-box-shadow: -1px -1px 20px 1px rgba(0,0,0,0.6);
                    -moz-box-shadow: -1px -1px 20px 1px rgba(0,0,0,0.6);
                    :nth-child(1){
                        margin-top: 20px;
                    }
                    input[type=text],input[type=tel],input[type=email] {
                        color:white;
                        width: 350px;
                        border-radius: 5px;
                        background-color: rgba(0, 0, 0, 0.247);
                        border-bottom: 1px solid rgb(255, 255, 255);
                        height: 30px;
                    }
                    input[type=text]::placeholder, input[type=tel]::placeholder,input[type=email]::placeholder {
                        color: rgba(255, 255, 255, 0.705);
                        padding-left: 10px;
                    }
                    input[type=submit] {
                        width: 200px;
                        text-align: center;
                        background-color: rgba(48, 131, 48, 0.856);
                        text-transform: uppercase;
                        color: rgba(255, 255, 255, 0.781);
                        letter-spacing: 1px;
                        height: 35px;
                        border-radius: 5px;
                        border-bottom: 1px white;
                        padding:auto;
                    }
                    span {
                        position: relative;
                        top:8px;
                        left:53%;
                        color:white;
                        z-index:20;
                        font-weight: 200;
                    }
                    textarea {
                        width: 350px;
                        background-color: rgba(231, 78, 78, 0.65);
                        padding-left: 5px;
                        resize: none;
                    }
                }
            }
            .derecha-carrito {
                margin-top: 100px;
                margin-left: auto;
                margin-right: auto;
                position: relative;
                z-index: 12;
                width: 500px;
                .header-carrito{
                    margin-bottom: 50px;
                    width: auto;
                    display: flex;
                    flex-direction: column;
                    color: white;
                    h2 {
                        margin-top: 50px;
                        font-size: 17pt;
                        align-self: center;
                        i {
                            text-align: center;
                            color: rgb(196, 196, 58);
                            font-weight: 300;
                            font-size: 30pt;
                            margin-right: 15px;
                        }
                    }
                    p {
                        align-self: center;
                        a {
                            font-size: 17px;
                            color: rgba(211, 211, 211, 0.788);
                            font-weight: 400;
                            border-bottom: 1px solid rgb(190, 190, 190);
                        }
                    }
                    .hrcarrito {
                        border-top: 2px solid white;  
                    }
                    .productosDesc {
                        width: 95%;
                        min-height: 70vh;
                        height: auto;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        .producto {
                            width: 100%;
                            margin: 15px 5px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            box-shadow: -1px -1px 20px 1px rgba(0,0,0,0.6);
                            -webkit-box-shadow: -1px -1px 20px 1px rgba(0,0,0,0.6);
                            -moz-box-shadow: -1px -1px 20px 1px rgba(0,0,0,0.6);
                            img {
                                margin-right: 10px;
                            }
                            p{
                                margin-right: 10px;
                                font-size: 13px;
                            }
                            input[type=number] {
                                margin-bottom: 10px;
                            }
                            button {
                                margin-bottom: 10px;
                            }
                            padding: 15px;
                            &:nth-child(2n+1){
                                background-color: rgba(255, 248, 220, 0.13);
                            }
                            .deleteItem {
                                width: 30px;
                                height: 30px;
                                border-radius: 50%;
                            }
                        }
                    }
                    #divtotal {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        background-color: rgba(255, 248, 220, 0.055);
                        border-radius: 10px;
                        box-shadow: -1px -1px 20px 1px rgba(0,0,0,0.6);
                        -webkit-box-shadow: -1px -1px 20px 1px rgba(0,0,0,0.6);
                        -moz-box-shadow: -1px -1px 20px 1px rgba(0,0,0,0.6);
                        h2 {
                            margin-top: 10px;
                        }
                        #precio{
                            font-weight: 600;
                        }
                    }
                }
            }
        }  
    }
}