$viejito: rgb(245, 245, 236);
$blanco:rgb(255,255,255);
$marroncito: rgb(138, 17, 17);
$negro: rgb(121, 94, 94);
$micianmasclaro: #0fe1f0;
$micianclaro: #0bc1ce;
$micianclaro-tr: #0bc1cece;
$micianoscuro: #34b1c4;
$micianmasoscuro: #30a3b4;
$miazuloscuro:#003391;
$miazulclaro:#4e8cff;
$verdeclaro:rgb(113, 185, 190);

$break955:955px;
$break850:850px;
$break400:400px;
$break340:340px;
@font-face {
    font-family:Roboto;
    src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
    font-display: swap;
}