@import 'variables';
@import 'header';
@import 'index';
@import 'registro';
@import 'banner';
@import 'contacto';
@import 'error';
@import 'faqs';
@import 'footer';
@import 'login';
@import 'mayorista';
@import 'mquerys';
@import 'carrito';
@import 'success';

*{
    margin: 0px;
    padding:0px;
    font-family: 'Roboto', sans-serif;
}
html {
    scroll-behavior: smooth !important;
    font-size:70%;
}
.invisible {
    display:none;
}

body {
    width: 100%;
    font-family:Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    a {
        text-decoration: none;
    }
    ul {
        list-style-type: none;
    }
    .fixed-carrito {
        position: fixed;
        top: 22%;
        right:0%;
        width: 50px;
        height: 50px;
        z-index: 40;;
        .bkg-carrito {
            width: 100%;
            height: 100%;
            background-color:$micianclaro-tr;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 10px;
            border-top-left-radius: 50%;
            border-bottom-left-radius: 50%;
            box-shadow: -2px 0px 15px 1px black;
            .icon-carrito {
                text-decoration: none;
                color: white;
                line-height: 10px;
                a {
                    color:black;
                    span {
                        font-size: 1.25rem;
                        font-weight: 500;
                        padding: 8px;
                    }
                }
                &:hover {
                    a {
                        span {
                            transition: 1s;
                            color: rgb(250, 250, 250);
                        }
                    }
                }
                p {
                    padding: 0 4px;
                    position: absolute;
                    top:70%;
                    left:5%;
                    background-color:red;
                    line-height: 25px;
                    font-size: 15px;
                    border-radius: 50%;
                }
                // #cantCarrito {
                //     position: absolute;
                //     width: 20px;
                //     height: 20px;
                //     line-height: 20px;
                //     top:70%;
                //     left:5%;
                //     border-radius: 50%;
                //     background-color: red;
                //     display: flex;
                //     text-align: center;
                //     justify-content: center;
                //     p{
                //         font-size: 13px;
                //     }
                // }
            }
            &:hover {
                transition: 3s;
                border:none;
                background-color: #002e36;
            }           
        }
    }
}
.container {
    .section {
        #dolar{
            display: block;
        }
    }
}
.header-carrito {
    .productosDesc{
        width: 80%;
        min-height: 70vh;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .producto{
            width: 100%;
            margin: 15px 5px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            img {
                margin-right: 10px;
            }
            p {
                margin-right: 10px;
            }
            .deleteItem {
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }
        
        }
    }
}
.card-body {
    .card-text{
        .leermas{
            font-size: 15px;
            font-weight: 600;
            letter-spacing: 1px;
            white-space: nowrap;
        }
        span{
            display:none;
        }
    }
}
